#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* - body ------------------------------------------------------------------------*/

body{
  background-color: rgb(239,223, 204);
  color: rgb(53, 39, 26);
}

/* - Nav Bar ------------------------------------------------------------------------*/

.navbar{
  background-color: rgb(134, 35, 64);
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: calc(100%);
  height:50px;
  box-shadow: 0 0px 7px rgb(53, 39, 26);
  justify-content: space-between;
}

.navbar-links{
  padding-left: 1%;
  display: flex;
  color: rgb(53, 39, 26);
  align-items: center;
  margin-left: 5px;
}

.nav-pets-adopt{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.home-png{
  border: 1px solid rgb(239, 223, 204);
  background-color: rgb(239, 223, 204);
  border-radius: 5px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  padding: 3px;
  width: 26px;
  height: 23px;
  display: flex;
  align-content: center;
}

.pets-link{
  color:  rgb(239, 223, 204);
  font-weight: bold;
  font-family: impact;
  margin-right: 10px;
}

.pets-link:hover{
  color:  rgb(239, 223, 204);
}

.adopt-link{
  color:  rgb(239,223, 204);
  font-family: impact;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.adopt-link:hover{
  color:  rgb(239, 223, 204);
}

/*.add-link{
  color:  rgb(53, 39, 26);
  font-weight: bold;
  margin-left: 10px;
}

.add-link:hover{
  color:  rgb(134, 35, 64);
}*/

.user-png{
    width: 26px;
    height: 26px;
    margin-right: 20px;
    display: flex;
    align-content: center;
}

.retrieve-link{
  border: 3px solid rgb(41, 171, 113);
}

.sidebar-wrapper{
  border: 3px solid rgb(180, 113, 51);
}

.sidebar{
  border: 2px solid rgb(134, 35, 64);
  padding: 20px;
}

/*.nav-sides{
 display: flex;
 flex-direction: column;
}

.nav-left{
align-items: start;
}

.nav-right{
  margin-left: 600px;
}*/

.show-both-pets-and-adopt{
  display: flex;
  align-items: center;
  /*border: 3px solid rgb(180, 113, 51);*/
}

.show-only-adopt{
  border: 3px solid rgb(180, 113, 51);
}

/* - Add Menu 1 ------------------------------------------------------------------------*/

.menu{
  display: flex;
  flex-direction: column;
}

.menu-button{
  display: flex;
  margin-top: 0px;
  color: rgb(53, 39, 26);
  font-weight: bold;
  border: 1px solid rgb(53, 39, 26);
  background-color: transparent;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(53, 39, 26);
}

.add-menu{
  background-color: rgb(53, 39, 26);
  color: aquamarine;
  width: 100px;
  height: 100px;
}

/* - Home Page ------------------------------------------------------------------------*/

.home-page {
  margin-top: 0;
  width: 1200px;
  height: 650px;
  background-color: rgb(239, 223, 204);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image{
  width:550px;
  height:250px;
  margin-top: 15px;
}

.home-title{
  color: rgb(53, 39, 26);
  margin-top: -20px;
  margin-bottom: 0px;
  font-family: impact;
  font-size: 110px;
}

.home-description{
  color: rgb(134, 35, 64);
  margin-bottom: 20px;
  margin-top: 5px;
  font-family: impact;
  font-size: 35px;
  font-stretch: expanded;
}

.home-buttons{
  display: flex;
  margin-top: 30px;
}

.home-pets-button{
  color: rgb(53, 39, 26);
  font-weight: bold;
  font-family: impact;
  border: 1px solid rgb(124, 115, 105);
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(124, 115, 105);
  margin-right: 5px;
}

.home-adopt-button{
  color: rgb(53, 39, 26);
  font-family: impact;
  border: 1px solid rgb(124, 115, 105);
  background-color: transparent;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(124, 115, 105);
  margin-left: 5px;
}

.home-pets-button:hover{
  color: rgb(134, 35, 64);
}

.home-adopt-button:hover{
  color: rgb(134, 35, 64);
}

/* - Pets Page ------------------------------------------------------------------------*/

.pets-page{
  color: rgb(53, 39, 26);
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*max-width: 850px;*/
}/* ! */

.pets-addpet-menu{
  color: rgb(53, 39, 26);
  font-weight: bold;
  border: 1px solid rgb(124, 115, 105);
  background-color: transparent;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(124, 115, 105);
}

.pets-addpet-menu:hover{
  color: rgb(134, 35, 64);
}

.pets-title{
  margin-top: 30px;
}

.pets-description{
  margin-top: -20px;
  margin-bottom: 30px;
}

.pets-page-scroll{
  border: 1px solid rgb(239,223, 204);
  background-color: transparent;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(154, 144, 133);
  overflow-y: scroll;
  height: 380px;
}

/*.pets-page-scroll::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 6px;
}*/

.pets-list{
  margin-left: 10px;
  margin-top: 50px;
}

.pet-name-link{
  color:  rgb(109, 160, 31);
  font-weight: bold;
}

.pet-name-link:hover{
  color: rgb(134, 35, 64);
}

.pets-info{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 15px;
  padding: 2px;
  margin: 3px;
  width: 500px;
  margin-top: 15px;
  margin-bottom: 25px;
}

/*.petpage-button{
  margin-bottom: 20px;
}*/

/* - Pet Profile Page ------------------------------------------------------------------------*/

.pet-profile-page{
  color: rgb(53, 39, 26);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prof-page-description{
  margin-top: 120px;
}

.profile-parts{
  display: flex;
}

.p-name{
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  /*border: 2px solid rgb(20, 14, 35);
  box-shadow: 0 0px 4px rgb(13, 9, 23);
  border-radius: 7px;*/
}

.pet-profile-info{
  border: 2px solid rgb(124, 115, 105);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 500px;
}

.profile-page-links{
  width: 180px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.prof-link-edit{
  color: rgb(53, 39, 26);
  font-weight: bold;
  border: 1px solid rgb(124, 115, 105);
  background-color: transparent;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(124, 115, 105);
  margin-right: 5px;
}

.prof-link-back{
  color: rgb(53, 39, 26);
  font-weight: bold;
  border: 1px solid rgb(124, 115, 105);
  background-color: transparent;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(124, 115, 105);
  margin-right: 5px;
}

.prof-link-edit:hover{
  color: rgb(134, 35, 64);
}

.prof-link-back:hover{
  color: rgb(134, 35, 64);
}

/* - Create Page ------------------------------------------------------------------------*/

.create-page{
  color: rgb(53, 39, 26);
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*max-width: 850px;*/
}

.pets-create-form{
  margin-top: 0px;
  display: flex;
}

.pets-create{
  display: flex;
}

.add-buton{
  margin-top: 45px;
}

.create-title{
  margin-top: 0px;
}

.createpage-description{
  margin-top: -20px;
  margin-bottom: 50px;
}

.creatediv-column{
  display: flex;
  flex-direction: column;
}

.pet-create1{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 280px;
  align-items: stretch;
}

.pet-create2{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 280px;
  align-items: stretch;
  margin-left: 30px;
}

.p-form-name{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.p-form-image{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-age{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-breed{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-hair{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-chip{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-sex{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-size{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-weight{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-description{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-diet{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.p-form-medical{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

.form-name{
  align-items: end;
}

.form-image{
  align-items: end;
}

.form-age{
  align-items: end;
}

.form-breed{
  align-items: end;
}

.form-hair{
  align-items: end;
}

.form-chip{
  align-items: end;
}

.form-sex{
  align-items: end;
}

.form-size{
  align-items: end;
}

.form-weight{
  align-items: end;
}

.form-description{
  align-items: end;
}

.form-diet{
  align-items: end;
}

.form-medical{
  align-items: end;
}

.form-pet-name{
  display: flex;
  justify-content: space-between;
}

.form-pet-image{
  display: flex;
  justify-content: space-between;
}

.form-pet-age{
  display: flex;
  justify-content: space-between;
}

.form-pet-breed{
  display: flex;
  justify-content: space-between;
}

.form-pet-hair{
  display: flex;
  justify-content: space-between;
}

.form-pet-chip{
  display: flex;
  justify-content: space-between;
}

.form-pet-sex{
  display: flex;
  justify-content: space-between;
}

.form-pet-size{
  display: flex;
  justify-content: space-between;
}

.form-pet-weight{
  display: flex;
  justify-content: space-between;
}

.form-pet-description{
  display: flex;
  justify-content: space-between;
}

.form-pet-diet{
  display: flex;
  justify-content: space-between;
}

.form-pet-medical{
  display: flex;
  justify-content: space-between;
}

/*.pets-button{
  color: rgb(53, 39, 26);
  font-weight: bold;
  border: 1px solid rgb(53, 39, 26);
  background-color: transparent;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(53, 39, 26);
}*/

/* - Adopt Page ------------------------------------------------------------------------*/

.adopt-page{
  color: rgb(53, 39, 26);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*max-width: 850px;*/
}

.adopt-title{
  margin-top: 10px;
  margin-bottom: 0;
}

.adopt-description{
  
}

.adopt-create{
  margin-top: 20px;
  display: flex;
}

.createadopt-column{
  display: flex;
  flex-direction: column;
}

.adopt-form{
  margin-top: 0px;
  display: flex;
}

.adopt-create1{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 280px;
  align-items: stretch;
}

.adopt-create2{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 280px;
  align-items: stretch;
  margin-left: 30px;
}

.adopt-title{
  margin-top: 55px;
}

.form-adopt-name{
  display: flex;
  justify-content: space-between;
}

.form-adopt-animal{
  display: flex;
  justify-content: space-between;
}

.form-adopt-image{
  display: flex;
  justify-content: space-between;
}

.form-adopt-age{
  display: flex;
  justify-content: space-between;
}

.form-adopt-breed{
  display: flex;
  justify-content: space-between;
}

.form-adopt-hair{
  display: flex;
  justify-content: space-between;
}

.form-adopt-chip{
  display: flex;
  justify-content: space-between;
}

.form-adopt-sex{
  display: flex;
  justify-content: space-between;
}

.form-adopt-size{
  display: flex;
  justify-content: space-between;
}

.form-adopt-weight{
  display: flex;
  justify-content: space-between;
}

.form-adopt-description{
  display: flex;
  justify-content: space-between;
}

.form-adopt-diet{
  display: flex;
  justify-content: space-between;
}

.form-adopt-medical{
  display: flex;
  justify-content: space-between;
}

.form-adopt-health{
  display: flex;
  justify-content: space-between;
}

.form-adopt-location{
  display: flex;
  justify-content: space-between;
}

.form-adopt-association{
  display: flex;
  justify-content: space-between;
}

.adopt-form-name{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-animal{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-image{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-age{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-breed{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-hair{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-chip{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-sex{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-size{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-weight{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-description{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-diet{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-medical{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-health{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-location{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.adopt-form-association{
  border: 2px solid rgb(124, 115, 105);
  box-shadow: 0 0px 2px rgb(124, 115, 105);
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  margin-top: 20px;
}

.a-form-name{
  align-items: end;
}

.a-form-animal{
  align-items: end;
}

.a-form-image{
  align-items: end;
}

.a-form-age{
  align-items: end;
}

.a-form-breed{
  align-items: end;
}

.a-form-heir{
  align-items: end;
}

.a-form-chip{
  align-items: end;
}

.a-form-sex{
  align-items: end;
}

.a-form-size{
  align-items: end;
}

.a-form-weight{
  align-items: end;
}

.a-form-description{
  align-items: end;
}

.a-form-diet{
  align-items: end;
}

.a-form-medical{
  align-items: end;
}

.a-form-health{
  align-items: end;
}

.a-form-location{
  align-items: end;
}

.a-form-association{
  align-items: end;
}

.adopt-button{
  color: rgb(53, 39, 26);
  font-weight: bold;
  border: 1px solid rgb(53, 39, 26);
  background-color: transparent;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(53, 39, 26);
  margin-top: 50px;
}

.adopt-button:hover{
  color: rgb(134, 35, 64);
}

.adopt-apamg-image{
    width:100px;
    height:100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.adopt-buton{
  margin-top: 45px;
}