/* - Signup Page ------------------------------------------------------------------------*/

.signup-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 224, 229);
  width: 1470px;
  height: 100vh;
}

.signup-page-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  }

.signup-page-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 750px;
  background-color: rgb(209, 244, 215);
  border-radius: 12px;
  box-shadow: 0 1px 2px rgb(53, 39, 26);
}
  
.signup-title{
  color: black;
  font-family: helvetica;
  font-size: 30px;
}

.signup-form{
  margin-top: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.signup-form-parts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-top: 15px;
}

.signup-form-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px,280px));
  gap: 25px;
}

.signup-form-button{
  color: black;
  font-family: helvetica;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgb(53, 39, 26);
  margin-top: 70px;
  margin-bottom: 25px;
}

.signup-form-button:hover{
  color: rgb(21, 95, 79);
  border: 1px solid black;
  cursor: pointer;
}

.signup-form-button:focus{
  color: rgb(21, 95, 79);
  border: 1px solid black;
  outline: none;
}