/* - User Page ------------------------------------------------------------------------*/

.user-page{
    width: 1470px;
    height: 100vh;
    background-color: white;
}

.user-page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-page-content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-title{
    color: rgb(21, 95, 79);
    font-family: helvetica;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 0;
}

.user-info{
    margin-top: 20px;
    width: 850px;
    height: 500px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 244, 215);
    border-radius: 7px;
    box-shadow: 0 1px 2px rgb(53, 39, 26);
}

.user-info-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px,260px));
    gap: 20px;
    column-gap: 170px;
    align-items: center;
}

.u-bold{
    margin-top: 8px;
    font-size: 23px;
    background-color: white;
    border-radius: 7px;
    padding-left: 8px;
    padding-top: 3px;
    height: 40px;
}


